*~ 
*.tmp
*.RData 
*.Rhistory
*.tif 
*.shp 
*.shx 
*.cpg 
*.dbf 
*.prj 
GIS_Week/Lectures/ 
GIS_Week/SpatialMethods/ 
GIS_Week/MAXENT_practical/
Genomics_Week/bin/


GIS_Week/Data/CORINE_2K/

GIS_Week/GIS_Practical_1_files/Borneo/

GIS_Week/GIS_Practical_1_files/Global/
