*~ 
*.tmp
*.RData 
*.Rhistory
*.tif 
*.shp 
*.shx 
*.cpg 
*.dbf 
*.prj 
GIS_Week/Lectures/ 
GIS_Week/SpatialMethods/ 
GIS_Week/MAXENT_practical/
Genomics_Week/bin/
GIS_Week/Data/CORINE_2K/
GIS_Week/GIS_Practical_1_files/Borneo/
GIS_Week/GIS_Practical_1_files/Global/
Week7/Code/toc/
HPC_Week/Results/
HPC_Week/HPC_run.tar.gz
HPC_Week/Code/figure/
HPC_Week/HPC_run.zip
results/
Results/
CMEE_Mini/Papers/

Extra_courses/

Project/Testing/Abigail/

CMEE_Mini/Code/\.ipynb_checkpoints/

CMEE_Mini/Sandbox/\.ipynb_checkpoints/

Project/MyHead/

CMEE_Mini/Sandbox/TestR\.R

CMEE_Mini/Sandbox/Day1\.txt

CMEE_Mini/Report/Exported Items\.bib

*.aux

*.bbl

*.bcf

*.blg

*.log

*.xml

*.json

GLM_stuff\.txt

Week1/Sandbox/test\.txt
